.comment-section {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.thread-list {
    display: flex;
}

.thread-box {
    /* border: 1px solid black;
    width: 33%; 
    height: 200px; */
    width: 33%; 
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    background-color: #E9E9E9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-comment {
    color: white;
    background-color: blue;
    width: 150px;
    height: 50px;
}

.thread-box .timeline {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}

.thread-box .timeline-item {
  position: relative;
  margin-bottom: 20px;
}

.thread-box .timeline-item::before {
  content: '';
  position: absolute;
  left: -12px;
  top: 0;
  width: 6px;
  height: 100%;
}

.thread-box .timeline-date {
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  margin-bottom: 5px;
}

.thread-box .timeline-content {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 6px;
}

.thread-box.no-comments .timeline-content {
  background: #E9E9E9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.no-comments {
  font-weight: bold;
  color: #000;
}

.click-here {
  font-weight: normal;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.topic-heading {
  font-size: 18px;
  font-weight: bold;
}

.thread-box.no-comments .no-comments {
  font-weight: bold;
  color: #000 !important;  
}


