.review-column {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
  }
  
  .review-section {
    display: flex;
    justify-content: space-between;
  }
  
  .review-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  