.App {
  text-align: center;
  width: 250px;
}

.App-header {
  background-color: #F0F1FA;
  min-height: 70vh;
  display: flex;
  flex-direction: column; /*stack on top of each other*/
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: black;
  width: 150px;
  padding: 50px;
}

.role-selection {
  margin-top: 20px;
}

.role-selection h2 {
  margin-bottom: 10px;
}

.role-selection select {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}