.App {
  text-align: center;
  width: 100%;
}

.App-header {
  background-color: #5D6BE5;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  padding: 70px;
}

.role-selection {
  margin-top: 40px;
}

.role-selection h2 {
  margin-bottom: 20px;
}

.role-selection select {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

button {
  margin-top: 40px;
  padding: 15px 30px;
  font-size: 18px;
}
